option_settings:
    - namespace: aws:autoscaling:updatepolicy:rollingupdate
      option_name: RollingUpdateEnabled
      value: true
    - namespace: aws:autoscaling:updatepolicy:rollingupdate
      option_name: RollingUpdateType
      value: Health

    - namespace: aws:elasticbeanstalk:application
      option_name: Application Healthcheck URL
      value: /aws-eb-ping.php

    - namespace: aws:elasticbeanstalk:environment:process:default
      option_name: HealthCheckPath
      value: /aws-eb-ping.php
    - namespace: aws:elasticbeanstalk:environment:process:default
      option_name: HealthCheckInterval
      value: 60
    - namespace: aws:elasticbeanstalk:environment:process:default
      option_name: HealthCheckTimeout
      value: 10

    - namespace: aws:elb:healthcheck
      option_name: Interval
      value: 60
    - namespace: aws:elb:healthcheck
      option_name: Timeout
      value: 10
