commands:
    01_wpcli:
        command: "/tmp/wpcli-install.sh"

files:
    "/tmp/wpcli-install.sh":
        mode: "000755"
        content: |
            #!/bin/bash

            curl -o /usr/local/bin/wp https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod a+rx /usr/local/bin/wp

            echo 'WP CLI install complete.'
