container_commands:
    00_wt3c:
        command: "/tmp/w3tc-install.sh"
    09_perms:
        command: "chown -R root:root *"

commands:
    00_wpcli:
        command: "/tmp/wpcli-install.sh"

files:
    "/tmp/wpcli-install.sh":
        mode: "000755"
        content: |
            #!/bin/bash

            curl -o /usr/local/bin/wp https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
            chmod a+rx /usr/local/bin/wp

            echo 'WP CLI install complete.'

    "/tmp/w3tc-install.sh":
        mode: "000755"
        content: |
            #!/bin/bash

            w3tc_is_enabled () {
                local value="$(wp --allow-root w3-total-cache option get $1.enabled --type=boolean)"
                [[ $value == "true" ]]
            }

            if wp --allow-root plugin status w3-total-cache | egrep -q 'Status:.*Active'; then
                sed -i -re "s/\\s*define\\(\\s*[\"']WP_CACHE[\"']\\s*,.*/define('WP_CACHE', true);/" wp-config.php

                files=("advanced-cache.php")
                w3tc_is_enabled dbcache && files+=("db.php")
                w3tc_is_enabled objectcache && files+=("object-cache.php")

                for f in "${files[@]}"; do
                    cp "wp-content/plugins/w3-total-cache/wp-content/$f" "wp-content/$f"
                done
            fi
